:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --brand-color: #ac2ebb;
  --secondary-brand-color: #4a306d;
  --third-brand-color: #e8d7f1;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  width: auto;
  box-sizing: border-box;
}
.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.inactive {
  display: none !important;
}
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: var(--white);
  transition: top 0.5s;
}
.header-hidden {
  top: -100px;
}
.promotional-messages {
  background-color: var(--brand-color);
  line-height: 20px;
}
.promotional-messages p {
  color: var(--white);
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 10px !important;
  padding: 4px 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}
.navbar-left ul li a {
  cursor: pointer;
}
.menu {
  display: none;
}
.navbar-left {
  height: 60px;
}
.nombre-marca {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  color: var(--brand-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}
.navbar-left ul li a.selected {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}
.navbar-email {
  color: var(--very-light-pink);
  cursor: pointer;
  font-size: var(--sm);
  margin-right: 12px;
  display: none;
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--brand-color);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-menu {
  position: absolute;
  background-color: white;
  top: 60px;
  right: 60px;
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
  color: var(--brand-color);
  font-size: var(--sm);
}
.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

/*MOBILE MENU*/

.mobile-menu {
  background-color: var(--white);
  padding: 24px;
  position: absolute;
  top: 88px;
  left: 0%;
  width: 100%;
  height: 100vh;
}
.mobile-menu-icon-close {
  height: 1.5rem;
  width: 1.5rem;
}
.categories-mobile-title {
  font-size: large;
  font-family: "Quicksand", sans-serif;
  color: var(--brand-color);
}
.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 24px;
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}
.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}
.sign-out {
  font-size: var(--sm);
  color: var(--brand-color) !important;
}
/* branding section */

.branding-section {
  height: 95vh;
  width: 100%;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  height: 95vh;
}

.slide {
  position: relative;
  display: flex;
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.photoSlide1 {
  height: 95vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.photoSlide2 {
  height: 95vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5em;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.shop-now-btn1 {
  position: absolute;
  font-size: medium;
  color: var(--white);
  left: 24%;
  top: 89%;
  background: none;
  border: none;
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out;
}

.shop-now-btn2 {
  position: absolute;
  font-size: medium;
  color: var(--white);
  left: 32%;
  top: 89%;
  background: none;
  border: none;
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out;
}

.shop-now-btn1:hover,
.shop-now-btn2:hover {
  text-shadow: 0 0 15px var(--white);
}

/* aside (product detail and cart) */

.product-detail {
  background-color: var(--white);
  width: 370px;
  min-height: 100vh;
  max-height: 100vh;
  padding: 12px;
  padding-left: 8px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  z-index: 1200;
  border-radius: 0px 0px 0px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1100;
  display: none;
}
.title-container {
  display: grid;
  justify-items: center;
  position: relative;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
  position: absolute;
  right: -22px;
  top: -6px;
  height: 1rem;
  width: 1rem;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
  justify-self: center;
  margin-top: 0%;
}
.empty-cart-text {
  justify-self: center;
  font-size: var(--sm);
  color: var(--brand-color);
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(0) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.container-info-products-cart {
  display: grid;
  grid-template-rows: auto auto;
}
.container-info-products-cart p {
  margin-left: 3px;
}
.container-info-products-cart .btns-container {
  margin-bottom: 20px;
  margin-left: 3px;
}
.btns-container {
  border: none;
  text-decoration: none;
  border-radius: 8px;
}
#addition-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border: 1px solid var(--brand-color);
  border-left: none;
  opacity: 75%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--text-input-field);
  cursor: pointer;
  height: 26px;
  min-width: 26px;
  padding: 0px;
  font-family: inherit;
}
#subtraction-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border: 1px solid var(--brand-color);
  opacity: 75%;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--text-input-field);
  cursor: pointer;
  height: 26px;
  min-width: 26px;
  padding: 0px;
  font-family: inherit;
}
.shopping-cart {
  display: grid;
  grid-template-columns: 70px 166px 83px;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.estilo-dinamico-nombre {
  color: var(--very-light-pink);
}
.product-price-container {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
}
.product-price-container img {
  position: relative;
  left: 70px;
  top: -10px;
  height: 0.9rem;
  width: 0.9rem;
}
.product-price-container p {
  display: inline-block;
  gap: 0;
  margin-top: 20px;
  margin-left: 5px;
}
.estilo-dinamico-symbol {
  font-size: var(--sm);
  font-weight: bold;
  gap: 0px;
  margin: 0;
}
.estilo-dinamico-precio {
  font-size: var(--md);
  font-weight: bold;
  gap: 0px;
  margin: 0;
}
.total-carrito {
  position: absolute;
  left: 260px;
  color: var(--brand-color);
}
figure {
  position: relative;
}
figure img {
  display: block;
}
figure p {
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: var(--brand-color);
  width: 20px;
  height: 20px;
  color: var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.primary-button {
  background-color: var(--brand-color);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.body-no-scroll {
  overflow: hidden;
}

/* PRODUCT LIST */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 100px;
}
.product-card {
  width: 240px;
  cursor: pointer;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  height: 80px;
  align-items: start;
}
.product-info-div {
  width: 90%;
}
.product-info-figure {
  margin: 0;
  margin-top: 20px;
  z-index: 0;
}
.product-name {
  margin-top: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: none;
}
.product-info div p:nth-child(1) {
  display: inline-block;
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
  margin-right: 5px;
}
.product-info div p:nth-child(2) {
  display: inline-block;
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
  z-index: 5;
}
/*PRODUCT DETAIL SECONDARY*/

.product-detail-secondary {
  position: relative;
  display: grid;
  grid-template-columns: 10% 35% 35% 20%;
  grid-template-rows: auto;
  background-color: var(--white);
  width: 100%;
  padding-top: 120px;
  padding-bottom: 24px;
  gap: 1rem;
  z-index: 5;
}
#img1 {
  grid-column: 2 / 3;
  grid-row: 1/ 2;
}
.product-info-secondary .photos-container {
  height: 50%;
  width: 50%;
}
.product-info-secondary {
  grid-row: 1 / 2;
  grid-column: 3/ 4;
}
.photos-container {
  max-height: 110vh;
  width: auto;
  object-fit: contain;
}
.photos-container img {
  height: 100%;
  width: 100%;
}
.product-detail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.product-info-secondary {
  margin: 24px 24px 0 24px;
}
.product-name {
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info-secondary .product-name-secondary {
  font-weight: bolder;
  font-size: var(--lg);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.brand-name {
  font-size: var(--sm);
  color: var(--very-light-pink);
  cursor: pointer;
  margin-top: 0%;
  text-decoration: none;
}
.product-price {
  color: var(--black);
  font-size: var(--lg);
  font-weight: bold;
  margin-bottom: 1rem;
}
.product-id {
  display: none;
}
.installment-info {
  color: var(--brand-color);
  font-size: var(--sm);
  margin-bottom: 1.5rem;
}
.size-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--sm);
}
.Sizes {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.product-info-secondary .Sizes p:hover {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}
.product-info-secondary .Sizes p.selected {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
}
.product-info-secondary .Sizes p {
  background-color: var(--text-input-field);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: var(--md);
  font-weight: 700;
  border: 1px solid transparent;
  color: var(--very-light-pink);
}
.description-product-title {
  font-weight: bold;
  font-size: var(--sm);
  margin-top: 24px;
}
.description {
  font-size: var(--sm);
  color: var(--very-light-pink);
  margin-bottom: 1.5rem;
}
.primary-button {
  background-color: var(--brand-color);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  margin-top: 8vh;
}

button img {
  height: 40px;
  width: 40px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CATEGORIES SECTION*/

.categories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 10px;
  background-color: var(--white);
}

.categories {
  display: flex;
  position: relative;
  height: 90%;
  width: auto;
  margin: 2px;
  padding: 20px;
}

.categories-photos {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.categories:hover .categories-photos {
  transform: scale(1.1);
}

.categories-titles {
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  font-size: 30px;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*ANIMATED LOGO*/

.logo-name-container {
  background-color: var(--secondary-brand-color);
  height: 50px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.animated-logo-name {
  font-family: "Bebas Neue", sans-serif;
  color: var(--brand-color);
  font-stretch: extra-condensed;
  font-size: 100px;
  white-space: nowrap;
  letter-spacing: 0.01mm;
  word-spacing: 2cm;
  height: 70px;
  position: relative;
  animation: desplazar 90s steps(95) infinite;
  animation-delay: -0.5s;
  animation-iteration-count: infinite;
}
.logo-name-container2 {
  background-color: var(--secondary-brand-color);
  height: 50px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}
.animated-logo-name2 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--third-brand-color);
  font-stretch: extra-condensed;
  font-size: 100px;
  white-space: nowrap;
  letter-spacing: 0.01mm;
  word-spacing: 2cm;
  height: 170px;
  position: relative;
  animation: desplazar 90s steps(95) infinite;
  animation-iteration-count: infinite;
}

/*NEWSLETTER*/

.newsletter-container {
  background-color: var(--secondary-brand-color);
  height: auto;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  justify-items: center;
}
.newsletter-content {
  grid-column: 2 / 3;
  align-items: center;
}
.newsletter-tittle {
  color: var(--third-brand-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
}
.newsletter-message {
  text-align: center;
  margin: 0;
  color: white;
  margin-bottom: 2%;
}
.box-customer-email {
  height: 40px;
  display: flex;
  justify-content: center;
}
.box-customer-email i {
  background-color: var(--brand-color);
  width: 40px;
  line-height: 40px;
}
.email-input,
.suscribe-button {
  border: none;
  outline: none;
}
.email-input {
  width: 0px;
  transition: 0.6s;
}
.box-customer-email:hover > .email-input,
.email-input:focus {
  width: 260px;
  padding: 0 10px;
}
.subscribe-button {
  background-color: var(--brand-color);
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}

.subscribed {
  background-color: #0cec31 !important;
  color: white;
}

/*FOOTER*/

footer {
  background-color: var(--white);
  color: #f1f1f1;
  padding: 30px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footer-links {
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.footer-logo h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
}

.footer-logo p {
  font-size: 14px;
  margin-top: 8px;
  color: var(--black);
}

.footer-links h3,
.footer-social h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--black);
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
  color: var(--black);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: var(--black);
}

.footer-bottom a {
  text-decoration: none;
  color: #00a376;
}
.flat-icon-credit {
  font-size: smaller;
  color: var(--black) !important;
}

@keyframes desplazar {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25%);
  }
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .product-detail {
    width: 100%;
  }
  .product-detail-secondary {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: auto;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
  .branding-section {
    height: auto;
    margin-top: 88px;
    width: 100%;
  }
  .slide img {
    height: 60vh;
  }
  .photoSlide1 {
    content: url(images/photoSlide-1Mobile.png);
  }
  .photoSlide2 {
    content: url(images/photoSlide-2Mobile.jpg);
  }
  .categories-container {
    margin-top: 4%;
    margin-bottom: 4%;
    flex-direction: column;
    height: auto;
  }
  .newsletter-container {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .footer-container {
    width: auto;
    flex-direction: column;
  }
  .footer-links {
    transform: translateX(0);
  }
  .logo-name-container {
    position: relative;
  }
}

@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}
